.display {
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    height: 50px;
    line-height: 50px;
    font-family: 'MonsterratAlternatesExtraLight';
    font-size: 3rem;
    text-align: right;
}